{
    "extends": "airbnb-base",
    "plugins": [
    ],
    "rules": {
      "strict": "off",
      "indent": ["error", 4],
      "semi": ["error", "always"],
      "no-console": 0,
      "linebreak-style": 0,
      "no-plusplus":"off"
    },
    "env": {
      "es6": true,
      "browser": true
    }
  }