.container {
    position: relative; 
    width: 800px; 
    height: 600px; 
    overflow: hidden;
}

a.slide-button{
    padding: 300px 0px 0px 15px; 
    top: 0px; 
    width: 30px; 
    height: 600px; 
    color: #FFF; 
    background-color: #000000; 
    opacity: 0.5;
    font-weight: bold; 
}

a.slide-button-left{
    position: absolute; 
    left: 0;
}

a.slide-button-right{
    position: absolute; 
    right: 0;
}

.slides > img {
    object-fit:contain;
}