.container {
    position: relative; 
    overflow: hidden;
}

a.slide-button{
    padding-left: 15px;
    top: 0px; 
    width: 30px; 
    color: #FFF; 
    background-color: #000000; 
    opacity: 0.5;
    font-weight: bold; 
    z-index: 2;
}

a.slide-button-left{
    position: absolute; 
    left: 0;
}

a.slide-button-right{
    position: absolute; 
    right: 0;
}

.slides > img {
    object-fit: cover;
}

.slide {
    position: absolute;
}

.slide-move-left-hide {
    animation: move-left-hide 1s 
}

.slide-move-right-hide {
    animation: move-right-hide 1s 
}

.slide-move-left-show {
    animation: move-left-show 1s 
}

.slide-move-right-show {
    animation: move-right-show 1s 
}

@keyframes move-left-hide {
    from {right: 0; z-index: 2;}
    to {right: 100%; z-index: 1;}
}

@keyframes move-right-hide {
    from {left: 0; z-index: 2;}
    to {left: 100%; z-index: 1;}
}

@keyframes move-left-show {
    from {right: -100%; z-index: 2;}
    to {right: 0; z-index: 1;}
}

@keyframes move-right-show {
    from {left: -100%; z-index: 2;}
    to {left: 0; z-index: 1;}
}